@model WarCraft.Models.PersonalOrder.PersonalOrderCreateVM
@{
    ViewData["Title"] = "Customized Order";
}

<h1 class ="text-center">Customized Order</h1>
<hr />

<div class="row">
    <div class="col-75">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control text-center">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.CategoryName</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="NameOfProduct" class="control-label"></label>
                <input id="contactUs" asp-for="NameOfProduct" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input id="contactUs" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input id="contactUs" asp-for="Quantity" class="form-control" onclick="calcSum()" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input id="submit" type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}