@{
    ViewData["Title"] = "Success";
}
<h1 class="text-center">You successfully made a customized order!</h1>
<div>
    <a id="button" asp-controller="Product" asp-action="Index">Back to list of products</a>
</div>
