@model WarCraft.Models.ContactUs.ContactUsCreateVM

@{
    ViewData["Title"] = "Contact Us";
}

<h1 class ="text-center">
        Contact Us</h1>
<hr />
<p class="text-center">If you have any questions, messages or complaints:</p>

<div class="row">
    <div class="col-75">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                      
            <div class="form-group">               
                <input id="contactUs" asp-for="FirstName" placeholder="First name..." />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input id="contactUs" asp-for="LastName" placeholder="Last name..." />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input id="contactUs" asp-for="Email" placeholder="Email..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>    
            <br />
            <div class="form-group">
                <textarea id="contactUs" rows="5" cols="70" asp-for="Message" placeholder="Write something..."></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input id="submit" type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}