@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:auto">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="300">
            <img src="/images/sale.jpeg" class="d-block w-100" alt="..." height="500">
        </div>
        <div class="carousel-item" data-interval="300">
            <img src="/images/comingsoon.jpeg" class="d-block w-100" alt="..." height="500">
        </div>
        <div class="carousel-item" data-interval="300">
            <img src="/images/f15sale.jpeg" class="d-block w-100" alt="..." height="500">
        </div>
        <div class="carousel-item" data-interval="300">
            <img src="/images/3for2sale.jpeg" class="d-block w-100" alt="..." height="500">
        </div>
        <div class="carousel-item" data-interval="100">
            <img src="/images/bundleofthree.jpeg" class="d-block w-100" alt="..." height="500">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr />
<div class="text-center">
    <h1 class="display-1">War Craft</h1>
    <br />
    <h2 class="display-4">Welcome!</h2>
</div>
<br />
<div class="text-center">
    <h6>
        If you are a history nerd and like war machinery – you are at the right place.
        <br />
        In this site you will find models of famous warplanes, tanks and warships.
    </h6>
    <br /><br />
    <div class="text-center" id="border">
        <h4>Don't forget to check out the option for a customized order.</h4>
        <h5>We can create planes, tanks, ships – everything and especially for you.</h5>
    </div>
</div>
<br />
<br />
<div class="text-center">
    <h3>Current promotions:</h3>
    <br />
    <div class="text-center">
        <img src="/images/f15sale.jpeg" height="400" width="70%" />
    </div>
    <br />
    <div class="text-center">
        <img src="/images/sale.jpeg" height="400" width="70%" />
    </div>
    <br />
    <div class="text-center">
        <img src="/images/3for2sale.jpeg" height="400" width="70%" />
    </div>
</div>