@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>This Privacy Policy is brought to you by War Craft. We recognize that your privacy is fundamental and express our commitment to safeguard the personal data you share with us. This policy deals comprehensively with the collection, storage, use, and dissemination of your personal data.</p>
<p>
    <h3>1. Information We Collect</h3>
    We are the sole owners of the information collected on this website.
    <br />
    We only have access to the information that you voluntarily 
    give us by email or other direct contact from you.
    <br />
    We will not sell or rent this information to anyone.
</p>
<p>
    <h3>2. How We Use Your Information</h3>
    We use your information to provide and improve our services, respond to your inquiries, send promotional and marketing 
    communication or for other business purposes that comply with our business model.
</p>
<p>
    <h3>3. Access and Correction</h3>
    You have a right to access, modify, correct and eliminate the data about you which has been collected pursuant to your 
    decision to become a user. 
    <br />
    If you need assistance, please contact us at warcraft@gmail.com
</p>
<p>
    <h3>4. Changes to the Privacy Policy</h3>
    Our Privacy Policy may change from time to time and all updates will be posted on this page.
    <br />
    If you disagree with any changes to this privacy policy, you will need to stop using our Services.
</p>
<p>
    <h3>5. Contact Us</h3>
    If you have any questions about this Privacy Policy, please get in touch with us at warcraft@gmail.com
</p>
<br /><br />
<h1>Cookies Policy</h1>
<p>War Craft uses cookies. By using the Service, you consent to the use of cookies.</p>
<p>
    <h3>What are Cookies?</h3>
    <br />
    Cookies are small text files that websites place on the computers and mobile devices of people who visit those websites.
    <br /><br />
    These text files allow a website to remember your device and how you interacted with the website, which is useful for a number 
    of different purposes.
    <br /><br />
    For example, cookies can be used to remember username and password information so that you don't have to re-enter all of your 
    login information every time you visit a site you frequently log in to.
    <br /><br />
    Other functions of cookies are to provide custom advertising to users based on searches and personal interests, as well as 
    site performance cookies that enhance website use by remembering things such as custom video streaming or volume settings you 
    have selected while using the website in the past.
</p>
