html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/images/camouflage.jpg);
}

footer {
    background-color:white;
}

* {
    color:white;
}
label {
    color:black;
}
.container {
    color:black;
}

.row {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 20px;
    background-image: url(/images/camouflage.jpg);
}

#form {
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

#background {
    background-color:black;
}
#register {
    background-image:url(/images/form_image.jpg);
}
#registerHr {
    color:black;
}
#contactTitle {
    color:black;
}
#login {
    background-image:url(/images/login_image.jpg);
}

a:hover {
    background-color: forestgreen;
}
textarea {
    color:black;
}
option {
    color:black;
}
#submit{
    color:black;
}
#filter {
    color: black;
}
.responsive-iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
#border {
    border: 5px solid white;
    background-color: red;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#cardTitles{
    color:black;
}

#card {
    margin: 0px;
    width: 100%;
    border: none;
    padding: 10px;
    background-image: none;
    justify-content: space-between;
}
.card-img-top:hover {
    transform: scale(1.3);
}

.card-body{
    background-color:darkgreen;
}
#cardA{
    background-color:darkgreen;
    width:100%
}
.card {
    background-color: darkgreen;
    border: 4px solid #331f0c;
    margin:10px;
}
#details {
    background-image:none;
}
#detailPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
}
#button {
    background-color: #331f0c;
    color:white;
    border: 2px solid white;
}
#order {
    background-image: none;
}
#submit {
    background-color: #331f0c;
    color: white;
    border: 2px solid white;
}
#registerSubmit {
    background-color: #331f0c;
    color: white;
    border: 2px solid white;
}
#login-submit {
    background-color: #331f0c;
    color: white;
    border: 2px solid white;
}
#edit {
    background-image: none;
}
#profile {
    margin: 0px;
    width: 100%;
    border: none;
    padding: 0px;
    background-image: none;
}
#innerProfile {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#contactUs {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

label{
    color:white;
}
#createButton{
    background-color:red;
    color:white;
    border: 2px solid white;
    padding:10px;
}
#profile {
    color: black;
}
#clientDelete {
    background-image: none;
    
}
#profilesLabel{
    color:black;
}
#dropdownMenuButton1{
    background-color:darkgreen;
}
#dropdownMenuButton1:hover {
    background-color: forestgreen;
}
.dropdown-item:hover{
    background-color:forestgreen;
}
#dropdown-item{
    color:black;
}